#adminTable tr:not(:first-child) td:last-child{
    display: flex;
    justify-content: space-around;
}

#adminTable:hover tr:not(:first-child){
    cursor: pointer;
    opacity: 0.8;
}

#adminTable button {
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-weight: 300;
}