.current{
    padding-left: 50px;
}

.single-product-wrapper:hover{
    cursor: pointer;
    opacity: 0.7;
}

#product-search-btn{
    padding: 5px;
    font-size: 11px;
    font-weight: 200;
}

#product-search-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.pagination {
    cursor: pointer;
    
}