<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminProductMapper">
	
	<select id="selectProductList" parameterType="ReviewPaging" resultType="product">
		select * 
		from (select rownum rnum, p.* 
			from (select * from product order by product_no desc) p)
		where rnum between #{start} and #{last} 
	</select>

	<select id="selectTotalProductList" resultType="int">
		select count(*) from product
	</select>
	
	<update id="deleteProduct" parameterType="int">
		update product
		set delete_yn = 'Y'
		where product_no = #{pno}
	</update>
	
	<update id="restoreProduct" parameterType="int">
		update product
		set delete_yn = 'N'
		where product_no = #{pno}
	</update>
	
	<select id="selectNormalProductList" parameterType="ReviewPaging" resultType="product">
		select * 
		from (select rownum rnum, p.* 
			from (select * from product where delete_yn = 'N' order by product_no desc) p)
		where rnum between #{start} and #{last} 
	</select>
	
	<select id="selectTotalNormalProductList" resultType="int">
		select count(*) from product where delete_yn = 'N'
	</select>
	
	<select id="selectDeleteProductList" parameterType="ReviewPaging" resultType="product">
		select * 
		from (select rownum rnum, p.* 
			from (select * from product where delete_yn = 'Y' order by product_no desc) p)
		where rnum between #{start} and #{last} 
	</select>
	
	<select id="selectTotalDeleteProductList" resultType="int">
		select count(*) from product where delete_yn = 'Y'
	</select>
	
	<select id="selectSearchProductList" parameterType="map" resultType="product">
		select * 
		from (select rownum rnum, p.* 
			from (select * from product where 
			<if test='type == "pName"'>
				product_name like '%' || #{search} || '%'
				<if test='check == "normal"'>
					and delete_yn = 'N' 
				</if>
				<if test='check == "del"'>
					and delete_yn = 'Y' 
				</if> 
			</if>
			<if test='type == "userId"'>
				seller_id like '%' || #{search} || '%'
				<if test='check == "normal"'>
					and delete_yn = 'N' 
				</if>
				<if test='check == "del"'>
					and delete_yn = 'Y' 
				</if> 
			</if>
			<if test='type == "pNo"'>
				product_no like '%' || #{search} || '%'
				<if test='check == "normal"'>
					and delete_yn = 'N' 
				</if>
				<if test='check == "del"'>
					and delete_yn = 'Y' 
				</if> 
			</if>
			order by product_no desc) p)
		where rnum between #{paging.start} and #{paging.last} 
	</select>
	
	<select id="selectTotalSearchProductList" parameterType="map" resultType="int">
		select count(*) from product where 
		<if test='type == "pName"'>
			product_name like '%' || #{search} || '%' 
			<if test='check == "normal"'>
				and delete_yn = 'N' 
			</if>
			<if test='check == "del"'>
				and delete_yn = 'Y' 
			</if> 
		</if>
		<if test='type == "userId"'>
			seller_id like '%' || #{search} || '%'
			<if test='check == "normal"'>
				and delete_yn = 'N' 
			</if>
			<if test='check == "del"'>
				and delete_yn = 'Y' 
			</if> 
		</if>
		<if test='type == "pNo"'>
			product_no like '%' || #{search} || '%' 
			<if test='check == "normal"'>
				and delete_yn = 'N' 
			</if>
			<if test='check == "del"'>
				and delete_yn = 'Y' 
			</if>
		</if>
	</select>
</mapper>
