<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messageMapper">

	<resultMap id="resultMessage" type="Message">
		<id property="mms_no" column="mms_no" />
		<result property="recv_id" column="recv_id" />
		<result property="sent_id" column="sent_id" />
		<result property="mms_content" column="mms_content" />
		<result property="sent_date" column="sent_date" />
		<result property="read_date" column="read_date" />
		<result property="recv_read" column="recv_read" />
		<result property="recv_del" column="recv_del" />
		<result property="sent_del" column="sent_del" />
		<result property="product_no" column="product_no" />
	</resultMap>
	
	<resultMap id="resultMessagePname" type="MessagePname">
		<id property="mms_no" column="mms_no" />
		<result property="recv_id" column="recv_id" />
		<result property="sent_id" column="sent_id" />
		<result property="mms_content" column="mms_content" />
		<result property="sent_date" column="sent_date" />
		<result property="read_date" column="read_date" />
		<result property="recv_read" column="recv_read" />
		<result property="recv_del" column="recv_del" />
		<result property="sent_del" column="sent_del" />
		<result property="product_no" column="product_no" />
		<result property="product_name" column="product_name" />
	</resultMap>

	<select id="selectRecvList" parameterType="MessagePname" 
	 resultMap="resultMessagePname" useCache="true">
		select m.sent_id, m.mms_content, m.sent_date, p.product_name, m.read_date, m.recv_read
		from message m
		join product p
		on m.product_no = p.product_no
		where recv_id = 'testmk' 

		
	</select>
	
	<select id="selectSentList" parameterType="MessagePname" 
	 resultMap="resultMessagePname" useCache="true">
		<!-- SELECT * from message
		where sent_id = 'testmk' -->
		select m.recv_id, m.mms_content, m.sent_date, p.product_name, m.read_date, m.recv_read 
		from message m
		join product p
		on m.product_no = p.product_no
		where sent_id = 'testmk'
	</select>
	
	<insert id="insertMessage" parameterType="Message" useGeneratedKeys="true">
		insert into message values(
			sq_mno.nextval,
			#{recv_id}, 
			'testmk2',  
			#{mms_content}, 
			sysdate, 
			default,
			default, 
			default, 
			default,
			3)
	</insert>
	
	<select id="selectDetailMessage" parameterType="MessagePname" 
	 resultMap="resultMessagePname" useCache="true">
		select * from message
		where mms_no = #{mms_no}
	</select>
	
	<update id="updateReadMessage" parameterType="Message" > 
	update message
	set read_date = sysdate, recv_read = 'Y'
	where mms_no = #{mms_no};
	</update>

</mapper>
