<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">

	<resultMap id="resultPayment" type="Payment">
		<id property="payment_no" column="payment_no" />
		<result property="payment_price" column="payment_price" />
		<result property="payment_quantity" column="payment_quantity" />
		<result property="payment_begindate" column="payment_begindate" />
		<result property="payment_enddate" column="payment_enddate" />
		<result property="status" column="status" />
		<result property="product_no" column="product_no" />
		<result property="customer" column="customer" />
		<result property="booking_no" column="booking_no" />
		<result property="seller_id" column="seller_id" />
		<result property="product_name" column="product_name" />
		<result property="review_status" column="review_status" />
	</resultMap>
	<!-- select booking_no, pd.seller_id, py.product_title, status
		from payment py
		join product pd using (product_no)
		where status in (1,2) and py.seller_id = pd.seller_id and seller_id = #{ userId } -->
	
	<select id="selectPaymentCount" resultType="_int" parameterType="string">
		select count(*) from payment where seller_id = #{ userId } and status in (1,2)
	</select>
	
	<select id="selectPaymentPList" resultMap="resultPayment" parameterType="hashmap">
	<![CDATA[
		select o.rm, o.booking_no, o.payment_price, o.status, o.product_name, o.seller_id, o.customer
		from
		(
			select rownum as rm, i.booking_no, i.payment_price, i.status, i.product_name, i.seller_id, i.customer
			from
			(
				select booking_no, payment_price, status, product_name, seller_id, customer
				from payment order by booking_no desc
			) i
			where rownum <= (#{ perPageNum} * #{ page }) 
		) o
		where o.rm > #{ pageStart }
	]]>
	</select>
	
	<select id="listCriteria" resultMap="resultPayment">
	<![CDATA[
		select o.rm, o.booking_no, o.payment_price, o.status, o.product_name, o.seller_id, o.customer
		from
		(
			select rownum as rm, i.booking_no, i.payment_price, i.status, i.product_name, i.seller_id, i.customer
			from
			(
				select booking_no, payment_price, status, product_name, seller_id, customer
				from payment order by booking_no desc
			) i
			where rownum <= (#{ perPageNum } * #{ page }) and status in (1,2)
		) o
		where o.rm > #{ pageStart }
	]]>
	<include refid="search"/>
	</select>
	
	<select id="searchListCount" resultType="_int">
		select count(*) 
		from payment
		where status in (1,2)
		<include refid="search"/>
	</select>
	
	<select id="selectPaymentList" resultMap="resultPayment">
		select * from payment
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == '1'.toString()">
				and status == #{ keyword } 
			</if>
			<if test="searchType == '2'.toString()">
				and status == #{ keyword }
			</if>
			<if test="searchType == '3'.toString()">
				and status == #{ keyword }
			</if>
			<if test="searchType == '4'.toString()">
				and status == #{ keyword }
			</if>
		</if>
	</sql>
	<!-- <insert id="insertMember" parameterType="Member" useGeneratedKeys="true">
		insert into member values (#{userid},#{userpwd},#{username},#{gender},#{age},
								   #{phone},#{email},#{hobby},#{etc},sysdate,sysdate)
	</insert>
	<update id="updateMember" parameterType="Member">
		update member set userpwd = #{userpwd}, age = #{age}, email = #{email}, phone = #{phone}, etc = #{etc}, hobby = #{hobby}
		where userid = #{userid}
	</update>
	<delete id="deleteMember" parameterType="string">
		delete from member where userid = #{userid} 
	</delete>
	<select id="selectCheckId" parameterType="string" resultType="_int" useCache="true">
		select count(userid) from member where userid = #{userid}
	</select>
	<select id="selectMember" parameterType="string" resultType="Member" useCache="true">
		select * from member where userid = #{userid}
	</select>
	<select id="selectList" resultMap="resultMember" useCache="true">
		select * from member
	</select> -->

</mapper>
