<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">

	<resultMap id="resultPayment" type="Payment">
		<id property="payment_no" column="payment_no" />
		<result property="payment_price" column="payment_price" />
		<result property="payment_quantity" column="payment_quantity" />
		<result property="payment_begindate" column="payment_begindate" />
		<result property="payment_enddate" column="payment_enddate" />
		<result property="status" column="status" />
		<result property="product_no" column="product_no" />
		<result property="customer" column="customer" />
		<result property="review_status" column="review_status" />
	</resultMap>
	<!-- select 문  =============================================================================================== -->
	<!-- 거래번호 조회 -->
	<select id="selectPaymentNo" parameterType="_int" resultType="string">
		select payment_no
		from payment
		where payment_no = #{ payment_no }
	</select>
	
	<!-- 구매완료/취소목록 조회 -->
	<select id="listCriteria" resultMap="resultPayment">
	<![CDATA[
		select o.rm, o.payment_price, o.status, o.product_name, o.seller_id, o.customer, o.payment_no
		from
		(
			select rownum as rm, i.payment_price, i.status, i.product_name, i.seller_id, i.customer, i.payment_no
			from
			(
				select payment_price, status, product_name, seller_id, customer, payment_no
				from payment p, product r
                where p.product_no = r.product_no and customer = #{ customer }
                order by payment_no desc
			) i
			where rownum <= (#{ perPageNum } * #{page}) and status in (1,2)
		) o
		where o.rm > #{ pageStart }
		]]>
			<include refid="search"/>
		<![CDATA[
	]]>
	</select>
	
	<!-- 거래대기 목록 조회 -->
	<select id="listWaitingCriteria" resultMap="resultPayment">
	<![CDATA[
		select o.rm, o.payment_price, o.status, o.product_name, o.seller_id, o.customer, o.payment_no
		from
		(
			select rownum as rm, i.payment_price, i.status, i.product_name, i.seller_id, i.customer, i.payment_no
			from
			(
				select payment_price, status, product_name, seller_id, customer, payment_no
				from payment p, product r
                where p.product_no = r.product_no and customer = #{ customer }
                order by payment_no desc
			) i
			where rownum <= (#{ perPageNum } * #{ page }) and status in (3,4)
		) o
		where o.rm > #{ pageStart }
		]]>
			<include refid="searchSeller"/>
		<![CDATA[
	]]>
	
	</select>
	
	<!-- 판매완료 리스트 조회 -->
	<select id="chargeListCriteria" resultMap="resultPayment">
	<![CDATA[
		select o.rm, o.payment_price, o.status, o.product_name, o.seller_id, o.customer, o.payment_no
		from
		(
			select rownum as rm, i.payment_price, i.status, i.product_name, i.seller_id, i.customer, i.payment_no
			from
			(
				select payment_price, status, product_name, seller_id, customer, payment_no
				from payment p, product r
                where p.product_no = r.product_no and seller_id = #{ customer }
                order by payment_no desc
			) i
			where rownum <= (#{ perPageNum } * #{page}) and status in (1,2)
		) o
		where o.rm > #{ pageStart }
		]]>
			<include refid="search"/>
		<![CDATA[
	]]>
	</select>
	
	<!-- 판매(결제)대기 목록 조회 -->
	<select id="chargeWaitingListCriteria" resultMap="resultPayment">
	<![CDATA[
		select o.rm, o.payment_price, o.status, o.product_name, o.seller_id, o.customer, o.payment_no
		from
		(
			select rownum as rm, i.payment_price, i.status, i.product_name, i.seller_id, i.customer, i.payment_no
			from
			(
				select payment_price, status, product_name, seller_id, customer, payment_no
				from payment p, product r
                where p.product_no = r.product_no and seller_id = #{ customer }
                order by payment_no desc
			) i
			where rownum <= (#{ perPageNum } * #{ page }) and status in (3,4)
		) o
		where o.rm > #{ pageStart }
		]]>
			<include refid="searchSeller"/>
		<![CDATA[
	]]>
	</select>
	
	<!-- 거래완료/취소 목록 개수 조회 -->
	<select id="searchListCount" resultType="_int">
		select count(*) 
		from payment
		where status in (1,2) and customer = #{ customer }
		<include refid="search"/>
	</select>
	
	<!-- 거래대기 목록 개수 조회 -->
	<select id="searchWaitingListCount" resultType="_int">
		select count(*)
		from payment
		where status in (3,4) and customer = #{ customer }
		<include refid="searchSellerId"/>
	</select>
	
	<!-- payment 테이블 목록 1개 조회 -->
	<select id="selectPaymentListOne" parameterType="_int" resultType="payment">
		select *
		from payment p, product r
		where p.product_no = r.product_no and payment_no = #{ paymentNo }
	</select>
	
	<!-- 거래예약 정보 조회 -->
	<select id="selectBookingUser" parameterType="payment" resultMap="resultPayment">
		select payment_no, product_name, seller_id, customer, payment_price, p.product_no,
			   payment_quantity, payment_enddate, payment_begindate
		from payment p, product r
		where p.product_no = r.product_no and customer = #{ customer } and rownum = 1
		order by payment_no desc
	</select>
	
	<select id="selectCountMyPay" parameterType="string" resultType="_int">
		select count(*) from payment where customer = #{userId} and status = 1	
	</select>
	
	
	
	<!-- insert 문  =============================================================================================== -->
	<!-- 거래예약 insert -->
	<insert id="insertBookingList" parameterType="payment">
		insert into payment values
		(SQ_PAYNO.nextval, #{ payment_price }, #{ payment_quantity }, #{ payment_begindate }, #{ payment_enddate }, 
		 '3', 
		 	(select product_no
		 	 from product
		 	 where product_no = #{ product_no }),
		 
		 	(select user_id
			 from tb_user
			 where user_id = #{ customer }),
			 
		 default)
	</insert>
	
	<!-- update 문 =============================================================================================== -->
	<!-- 예약유저 업데이트 -->
	<update id="updateBookingUser" parameterType="payment">
		update
		(
			select * from payment
			where customer = #{ customer } and payment_no = #{ payment_no }
		)
		set
			payment_price = #{ payment_price }, payment_quantity = #{ payment_quantity },
			payment_begindate = #{ payment_begindate }, payment_enddate = #{ payment_enddate }
	</update>
	
	<!-- 물품 재고 업데이트 -->
	<update id="updateProductQuantity" parameterType="payment">
		update
		(
			select product_quantity
			from product p, payment y
			where p.product_no = y.product_no and payment_no = #{ payment_no }
		)
		set
			product_quantity = (product_quantity - #{ payment_quantity })
	</update>
	
	<!-- 예약 취소 후 물품 재고 업데이트 [미완]-->
	<update id="updateQuantityAfterCancel" parameterType="payment">
		update
		(
			select product_quantity
			from product p, payment y
			where p.product_no = y.product_no and p.product = #{ product_no }
		)
		set
			product_quantity = (product_quantity + #{ payment_quantity })
	</update>
	<!-- 결제 완료 후 payment status 업데이트 -->
	<update id="updatePaymentUser" parameterType="_int">
		update
		(
			select status from payment
			where payment_no = #{ paymentNo }
		)
		set
			status = 1
	</update>
	
	<!-- 결제수락 payment status 업데이트 -->
	<update id="updateAdmitCharge" parameterType="_int">
		update
		(
			select status from payment
			where payment_no = #{ paymentNo }
		)
		set
			status = 4
	</update>
	
	<!-- 결제거부 payment status 업데이트 -->
	<update id="updateRejectCharge" parameterType="_int">
		update
		(
			select status from payment
			where payment_no = #{ paymentNo }
		)
		set
			status = 2
	</update>
	
	<!-- delete 문 =============================================================================================== -->
	<!-- 예약 취소 -->
	<delete id="deleteBookingInfo" parameterType="_int">
		delete from payment
		where payment_no = #{ paymentNo }
	</delete>
	
	<!-- include sql 문 -->
	<!-- 거래완료/취소 목록 검색조건 sql -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == '1'.toString">
				and status = #{ keyword } 
			</if>
			<if test="searchType == '2'.toString">
				and status = #{ keyword }
			</if>
			<if test="searchType == '3'.toString">
				and status = #{ keyword }
			</if>
			<if test="searchType == '4'.toString">
				and status = #{ keyword }
			</if>
		</if>
	</sql>
	
	<!-- 거래중 목록 검색조건 sql -->
	<sql id="searchSeller">
		<if test="searchType != null">
			and o.seller_id like #{ keyword } 
		</if>
	</sql>
	
	<!-- 거래중 목록 검색조건  sql2 -->
	<sql id="searchSellerId">
		<if test="searchType != null">
			and seller_id like #{ keyword }
		</if>
	</sql>
</mapper>
