<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productManipulationMapper">
	
	<resultMap id="resultMyProduct" type="Product">
		<id property="product_no" column="product_no" />
		<result property="product_name" column="product_name" />
		<result property="price" column="price" />
		<result property="product_quantity" column="product_quantity" />
		<result property="product_content" column="product_content" />
		<result property="progress" column="progress" />
		<result property="product_startdate" column="product_startdate" />
		<result property="product_enddate" column="product_enddate" />
		<result property="weekend_yn" column="weekend_yn" />
		<result property="weekday_yn" column="weekday_yn" />
		<result property="product_date" column="product_date" />
		<result property="product_modifydate" column="product_modifydate" />
		<result property="delete_yn" column="delete_yn" />
		<result property="category_code" column="category_code" />
		<result property="seller_id" column="seller_id" />
		<result property="img_no" column="img_no" />
	</resultMap>
	
	<resultMap type="ProductForUpdate" id="resultUpdateProduct">
		<id property="product_no" column="product_no" />
		<result property="product_name" column="product_name" />
		<result property="price" column="price" />
		<result property="product_quantity" column="product_quantity" />
		<result property="product_content" column="product_content" />
		<result property="progress" column="progress" />
		<result property="product_startdate" column="product_startdate" />
		<result property="product_enddate" column="product_enddate" />
		<result property="weekend_yn" column="weekend_yn" />
		<result property="weekday_yn" column="weekday_yn" />
		<result property="product_date" column="product_date" />
		<result property="product_modifydate" column="product_modifydate" />
		<result property="delete_yn" column="delete_yn" />
		<result property="category_code" column="category_code" />
		<result property="seller_id" column="seller_id" />
		<result property="pcategory_name" column="pcategory_name" />
		<result property="sub_pcategory_name" column="sub_pcategory_name" />
		<result property="first_img" column="first_img" />
		<result property="second_img" column="second_img" />
		<result property="third_img" column="third_img" />
		<result property="fourth_img" column="fourth_img" />
		
		
	</resultMap>
	
	<insert id="insertProduct" parameterType="Product" useGeneratedKeys="true">
	insert into product values(SQ_PDNO.nextval, #{product_name}, #{price}, #{product_quantity}, #{product_content}, default, #{product_startdate}, #{product_enddate}, #{weekend_yn}, #{weekday_yn}, sysdate, sysdate, default, #{category_code}, #{seller_id}, #{img_no})
	
	</insert>
	
	<select id="selectProductCount" resultType="int" parameterType="string">
		select count(*) from product where seller_id = #{userId} and DELETE_YN = 'N' 
	</select>
	
	<select id="seleteMyProductList" resultMap="resultMyProduct" parameterType="hashmap">
		 <![CDATA[
        select X.rnum, X.product_no, X.product_name, X.PRICE, X.PRODUCT_QUANTITY, X.PRODUCT_CONTENT, X.PROGRESS,
        X.PRODUCT_STARTDATE, X.PRODUCT_ENDDATE, X.WEEKEND_YN, X.WEEKDAY_YN, X.PRODUCT_DATE, X.PRODUCT_MODIFYDATE, 
        X.DELETE_YN, X.CATEGORY_CODE, X.SELLER_ID, X.IMG_NO
from ( 
    select rownum as rnum, A.product_no, A.product_name, A.PRICE, A.PRODUCT_QUANTITY, A.PRODUCT_CONTENT, A.PROGRESS,
        A.PRODUCT_STARTDATE, A.PRODUCT_ENDDATE, A.WEEKEND_YN, A.WEEKDAY_YN, A.PRODUCT_DATE, A.PRODUCT_MODIFYDATE, 
        A.DELETE_YN, A.CATEGORY_CODE, A.SELLER_ID, A.IMG_NO
    from (
        select product_no, product_name, PRICE, PRODUCT_QUANTITY, PRODUCT_CONTENT, PROGRESS,
        PRODUCT_STARTDATE, PRODUCT_ENDDATE, WEEKEND_YN, WEEKDAY_YN, PRODUCT_DATE, PRODUCT_MODIFYDATE, DELETE_YN, CATEGORY_CODE, SELLER_ID, IMG_NO
        from product
        order by product_no desc) A
    where rownum <= (#{perPageNum} * #{page}) and SELLER_ID = #{seller_id} and delete_yn = 'N') X
where X.rnum > #{pageStart}
]]>
	</select>
	
	<select id="selectMyProduct" resultMap="resultUpdateProduct" parameterType="int">
		<!-- select * from product where product_no = #{productNo} -->
		select *
			from product a
			join product_category  on CATEGORY_CODE = PCATEGORY_NO
			join product_img b on a.img_no = b.img_no
			where product_no = #{productNo}
	</select>
	<update id="updateMyProduct" parameterType="ProductForUpdate">
	<!-- 조인뷰로 update를 할 때 mysql에서는 아래와 같이 두개 이상의 테이블도 수정가능하지만 oracle에서는 한 개의 테이블만 가능  -->
	<!-- UPDATE 
       (
        SELECT 
        a.PRODUCT_NAME as PRODUCT_NAME,
        a.PRICE as PRICE,
        a.PRODUCT_QUANTITY as PRODUCT_QUANTITY,
        a.PRODUCT_CONTENT as PRODUCT_CONTENT,
        a.PRODUCT_STARTDATE as PRODUCT_STARTDATE,
        a.PRODUCT_ENDDATE as PRODUCT_ENDDATE,
        a.WEEKEND_YN as WEEKEND_YN,
        a.WEEKDAY_YN as WEEKDAY_YN,
        a.PRODUCT_MODIFYDATE as PRODUCT_MODIFYDATE,
        a.CATEGORY_CODE as CATEGORY_CODE,
        b.FIRST_IMG as FIRST_IMG,
        b.SECOND_IMG as SECOND_IMG,
        b.THIRD_IMG as THIRD_IMG,
        b.FOURTH_IMG as FOURTH_IMG       
        FROM product a, product_img b
        WHERE a.img_no = b.img_no and product_no = #{product_no}
       )
   SET 
   PRODUCT_NAME = #{product_name},
   PRICE = #{price},
   PRODUCT_QUANTITY = #{product_quantity},
   PRODUCT_CONTENT = #{product_content},
   PRODUCT_STARTDATE = #{product_startdate},
   PRODUCT_ENDDATE = #{product_enddate},
   WEEKEND_YN = #{weekend_yn},
   WEEKDAY_YN = #{weekday_yn},
   PRODUCT_MODIFYDATE = sysdate,
   CATEGORY_CODE = (select PCATEGORY_NO from PRODUCT_CATEGORY where PCATEGORY_NAME = #{pcategory_name} and SUB_PCATEGORY_NAME  = #{sub_pcategory_name}),
   FIRST_IMG = #{first_img},
   SECOND_IMG = #{second_img},
   THIRD_IMG = #{third_img}, 
   FOURTH_IMG = #{fourth_img} -->
   UPDATE 
       (
        SELECT 
        a.PRODUCT_NAME as PRODUCT_NAME,
        a.PRICE as PRICE,
        a.PRODUCT_QUANTITY as PRODUCT_QUANTITY,
        a.PRODUCT_CONTENT as PRODUCT_CONTENT,
        a.PRODUCT_STARTDATE as PRODUCT_STARTDATE,
        a.PRODUCT_ENDDATE as PRODUCT_ENDDATE,
        a.WEEKEND_YN as WEEKEND_YN,
        a.WEEKDAY_YN as WEEKDAY_YN,
        a.PRODUCT_MODIFYDATE as PRODUCT_MODIFYDATE,
        a.CATEGORY_CODE as CATEGORY_CODE    
        FROM product a
        WHERE product_no = #{product_no}
       )
   SET 
   PRODUCT_NAME = #{product_name},
   PRICE = #{price},
   PRODUCT_QUANTITY = #{product_quantity},
   PRODUCT_CONTENT = #{product_content},
   PRODUCT_STARTDATE = #{product_startdate},
   PRODUCT_ENDDATE = #{product_enddate},
   WEEKEND_YN = #{weekend_yn},
   WEEKDAY_YN = #{weekday_yn},
   PRODUCT_MODIFYDATE = sysdate,
   CATEGORY_CODE = (select PCATEGORY_NO from PRODUCT_CATEGORY where PCATEGORY_NAME = #{pcategory_name} and SUB_PCATEGORY_NAME  = #{sub_pcategory_name})
	</update>
	
	<update id="updateMyImage" parameterType="ProductForUpdate">
		update product_img
		set 
		FIRST_IMG = #{first_img},
   		SECOND_IMG = #{second_img},
   		THIRD_IMG = #{third_img}, 
   		FOURTH_IMG = #{fourth_img}
		where img_no = (select img_no from product where product_no = #{product_no}) 
	</update>
	
	<!-- <![CDATA[
		SELECT *
        FROM product
        WHERE DELETE_YN = 'N' and rownum  >= #{pageStart} and rownum <= #{perPageNum} and seller_id = #{seller_id}
        ORDER BY product_no DESC
        ]]> -->
	<!-- <select id="seleteMyProductList" resultMap="resultMyProduct" parameterType="string">
		select * from product where seller_id = #{userId}
	</select> -->
	<!-- <update id="updateProduct" parameterType="Product">
		update member set userpwd = #{userpwd}, age = #{age}, email = #{email}, phone = #{phone}, etc = #{etc}, 
				 hobby = #{hobby} where userid = #{userid}
	</update>
	<delete id="deleteProduct" parameterType="string">
		delete from member where userid = #{userid}
	</delete>	 -->
</mapper>
