<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">

	<resultMap id="resultReport" type="Report">
		<id property="report_no" column="report_no" />
		<result property="rcategory_no" column="rcategory_no" />
		<result property="report_content" column="report_content" />
		<result property="report_id" column="report_id" />
		<result property="report_date" column="report_date" />
		<result property="product_no" column="product_no" />
		<result property="request_id" column="request_id" />
		<result property="report_progress" column="report_progress" />
	</resultMap>

	<resultMap id="resultReportList" type="ReportList">
		<id property="report_no" column="report_no" />
		<result property="rcategory_no" column="rcategory_no" />
		<result property="report_content" column="report_content" />
		<result property="report_id" column="report_id" />
		<result property="report_date" column="report_date" />
		<result property="product_no" column="product_no" />
		<result property="request_id" column="request_id" />
		<result property="first_img" column="first_img" />
		<result property="product_name" column="product_name" />
	</resultMap>

	<select id="insertReport" parameterType="Report">
		INSERT INTO TB_REPORT
		VALUES(SQ_RPNO.NEXTVAL,
		#{rcategory_no},#{report_content},#{report_id},sysdate,#{product_no},#{request_id},'M')
	</select>

	<select id="selectCheckReport" resultType="_int">
		SELECT COUNT(*)
		FROM
		TB_REPORT
		WHERE REPORT_ID = #{report_id}
		AND REQUEST_ID = #{request_id}
	</select>

	<select id="selectWhatIReport" resultMap="resultReportList">
		SELECT REPORT_NO,
		P.PRODUCT_NAME,
		RCATEGORY_NO, REPORT_CONTENT, REPORT_ID, REPORT_DATE,
		R.PRODUCT_NO,
		REQUEST_ID, FIRST_IMG
		FROM TB_REPORT R
		JOIN PRODUCT P ON
		(R.PRODUCT_NO =
		P.PRODUCT_NO)
		JOIN PRODUCT_IMG I ON (P.IMG_NO =
		I.IMG_NO)
		WHERE
		REQUEST_ID = #{request_id}
	</select>

	<select id="selectReportedBy" resultMap="resultReportList">
		SELECT REPORT_NO,
		P.PRODUCT_NAME,
		RCATEGORY_NO, REPORT_CONTENT, REPORT_ID, REPORT_DATE,
		R.PRODUCT_NO,
		REQUEST_ID, FIRST_IMG
		FROM TB_REPORT R
		JOIN PRODUCT P ON
		(R.PRODUCT_NO = P.PRODUCT_NO)
		JOIN PRODUCT_IMG I ON (P.IMG_NO =
		I.IMG_NO)
		WHERE REPORT_ID = #{request_id}
	</select>

	<select id="selectReportList" resultMap="resultReport">
		SELECT X.RNUM,
		X.REPORT_NO, X.RCATEGORY_NO, X.REPORT_CONTENT, X.REPORT_ID,
		X.REPORT_DATE, X.PRODUCT_NO, X.REQUEST_ID
		FROM (
		SELECT ROWNUM AS RNUM, S.REPORT_NO, S.RCATEGORY_NO,
		S.REPORT_CONTENT, S.REPORT_ID, S.REPORT_DATE, S.PRODUCT_NO,
		S.REQUEST_ID
		FROM (
		SELECT R.REPORT_NO, R.RCATEGORY_NO, R.REPORT_CONTENT, R.REPORT_ID,
		R.REPORT_DATE, R.PRODUCT_NO, R.REQUEST_ID
		FROM TB_REPORT R
		ORDER BY REPORT_NO DESC ) S
		<![CDATA[
			WHERE ROWNUM <= #{endList}) X
			WHERE X.RNUM >= #{startList}
		]]>
	</select>

	<select id="selectTotalListCount" resultType="_int">
		SELECT COUNT(*)
		FROM TB_REPORT
	</select>
	
	<update id="updateReportApproval1" parameterType="string">
		UPDATE TB_REPORT SET REPORT_PROGRESS = 'Y' WHERE REPORT_NO = #{rno}
	</update>
</mapper>
