<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

	<resultMap id="resultReview" type="Review">
      <id property="review_no" column="review_no" />
      <result property="review_content" column="review_content" />
      <result property="review_image" column="review_image" />
      <result property="point" column="point" />
      <result property="review_date" column="review_date" />
      <result property="payment_no" column="payment_no" />
   </resultMap>
	
	<select id="selectReview" resultMap="resultReview">
		select * from review
	</select>
	<insert id="insertReview" parameterType="Review">
		insert into review values (SQ_RVNO.nextval, #{review_content}, #{review_image}, #{point}, default, #{payment_no}, #{product_no})
	</insert>
	
	<select id="selectListReview" parameterType="ReviewPaging" resultType="ReviewList">
		select *
		from (select rownum rnum, p.* 
			from (select * from payment 
				join product using (product_no) join product_img using (img_no) order by review_status asc, payment_no desc) p) 
		where rnum between #{start} and #{last}
	</select>
	
	<select id="selectTotalListReview" resultType="int">
		select count(*) from payment
	</select>
	
	<select id="selectPdetailReview" parameterType="ReviewPagingFront" resultType="Review">
		select *
		from (select rownum rnum, p.* 
			from (select * from review where product_no = #{productNo} order by review_date desc) p) 
		where rnum between #{start} and #{last}
	</select>
	
	<select id="selectTotalPdetailReview" parameterType="int" resultType="int">
		select count(*) from review where product_no = #{pno}
	</select>

</mapper>
