<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="socialMapper">

	<resultMap id="resultSocial" type="SocialUser">
		<id property="user_id" column="user_id" />
		<result property="social_type" column="social_type" />
		<result property="social_code" column="social_code" />
	</resultMap>
	
	<select id="selectLogin" parameterType="String" resultType="int">
		select count(user_id) from socialUser
		where user_id = #{uid} 
	</select>
	
	<select id="selectCheckId" parameterType="String" resultType="String">
		select user_id from socialuser
		where social_code = #{uid}
	</select>
	
	<select id="selectSocialCheck" parameterType="String" resultType="int">
		select count(user_id) from socialuser
		join tb_user using(user_id)
		where social_code = #{sid} and verify = 'y'
	</select>
	
	<insert id="insertSocial" parameterType="SocialUser">
		insert into socialuser
		values (#{user_id}, #{social_type}, #{social_code})
	</insert>

</mapper>
