<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visitMapper">
	
	<resultMap id="resultVisit" type="Visit">
		<id property="visit_no" column="visit_no" />
		<result property="v_date" column="v_date" />
	</resultMap>
	
	<!-- 방문자 당일 날짜 조회 -->
	<select id="selectLoginVisit" parameterType="String" resultMap="resultVisit">
		SELECT DISTINCT V_DATE
		FROM VISIT
		WHERE V_DATE BETWEEN TO_DATE(#{today},'YYYY/MM/DD') AND TO_DATE(#{today},'YYYY/MM/DD') + 3
		ORDER BY 1 ASC
	</select>
	
	<!-- 방문자 수 당일 조회  -->
	<select id="selectLoginCount" resultType="List">
		<foreach collection="list" item="visit"  index="index">
		select count(*)
		from visit
		where v_date in to_date(#{visit.v_date},'YYYY/MM/DD')
		</foreach>
	</select>
	
	
	<insert id="insertVisit">
		insert into visit
		values (sq_vi.nextval,to_char(sysdate, 'YYYY/MM/DD'))
	</insert>
	

</mapper>
