<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL" /><!-- null값 insert할 때 필요  -->
   </settings>
   <typeAliases>
   	  <typeAlias type="org.kh.billy.product.model.vo.ProductDetail" alias="ProductDetail" />
      <typeAlias type="org.kh.billy.product.model.vo.Product" alias="Product" />
      <typeAlias type="org.kh.billy.productcategory.model.vo.ProductCategory" alias="ProductCategory" />
      <typeAlias type="org.kh.billy.productimg.model.vo.ProductImg" alias="ProductImg" />
      <typeAlias type="org.kh.billy.product.model.vo.Product" alias="Product"/>
         <typeAlias type="org.kh.billy.product.model.vo.ProductForUpdate" alias="ProductForUpdate"/>
         <typeAlias type="org.kh.billy.product.model.vo.ProductForList" alias="ProductForList"/>
         <typeAlias type="org.kh.billy.product.model.vo.SettingList" alias="SettingList"/>
         <typeAlias type="org.kh.billy.payment.model.vo.Payment" alias="Payment" />
         <typeAlias type="org.kh.billy.message.model.vo.Message" alias="Message" />
         <typeAlias type="org.kh.billy.message.model.vo.MessagePname" alias="MessagePname" />
         <typeAlias type="org.kh.billy.socialuser.model.vo.SocialUser" alias="SocialUser" />
         <typeAlias type="org.kh.billy.review.model.vo.Review" alias="Review"/>
         <typeAlias type="org.kh.billy.review.model.vo.ReviewList" alias="ReviewList"/>
         <typeAlias type="org.kh.billy.review.model.vo.ReviewPaging" alias="ReviewPaging"/>
         <typeAlias type="org.kh.billy.review.model.vo.ReviewPagingFront" alias="ReviewPagingFront"/>
         <typeAlias type="org.kh.billy.member.model.vo.Member" alias="Member" />
         <typeAlias type="org.kh.billy.sms.model.vo.Sms" alias="Sms" />
         <typeAlias type="org.kh.billy.report.model.vo.Report" alias="Report"/>
         <typeAlias type="org.kh.billy.report.model.vo.ReportList" alias="ReportList"/>
         <typeAlias type="org.kh.billy.notice.model.vo.Notice" alias="Notice"/>
         <typeAlias type="org.kh.billy.statistics.model.vo.Visit" alias="Visit"/>
         <typeAlias type="org.kh.billy.statistics.model.vo.SignUp" alias="SignUp"/>
         <typeAlias type="org.kh.billy.statistics.model.vo.Deal" alias="Deal"/>
   </typeAliases>
   <mappers>
   	  <mapper resource="mappers/adminProduct-mapper.xml" />
	  <mapper resource="mappers/productDetail-mapper.xml" />
      <mapper resource="mappers/productmanipulation-mapper.xml" />
      <mapper resource="mappers/productCategory-mapper.xml" />
      <mapper resource="mappers/productImg-mapper.xml" />
      <mapper resource="mappers/productList-mapper.xml"/>
      <mapper resource="mappers/payment-mapper.xml" />
      <mapper resource="mappers/message-mapper.xml" />
      <mapper resource="mappers/social-mapper.xml" />
      <mapper resource="mappers/review-mapper.xml" />
      <mapper resource="mappers/member-mapper.xml" />
      <mapper resource="mappers/report-mapper.xml" />
      <mapper resource="mappers/notice-mapper.xml" />
      <mapper resource="mappers/statistics-mapper.xml" />
   </mappers>
</configuration>